@import 'tailwindcss';

@theme {
    --font-nf-symbols: Symbols Nerd Font;

    --color-transparent: transparent;
    --color-black: #0e0d11;
    --color-archlinux: oklch(63.30% 0.134 237.74);

    --color-darker-50: #cdd0e4;
    --color-darker-100: #b5bad6;
    --color-darker-200: #9ea4c8;
    --color-darker-300: #888fb8;
    --color-darker-400: #727aa8;
    --color-darker-500: #5f6795;
    --color-darker-600: #53597c;
    --color-darker-700: #454a64;
    --color-darker-800: #373a4d;
    --color-darker-900: #282a36;
    --color-darker: #282a36;
    --color-dark-50: #f7f7fb;
    --color-dark-100: #dfe1ed;
    --color-dark-200: #c7cadf;
    --color-dark-300: #b1b5d0;
    --color-dark-400: #9ba0c0;
    --color-dark-500: #858bb0;
    --color-dark-600: #71779f;
    --color-dark-700: #606689;
    --color-dark-800: #525771;
    --color-dark-900: #44475a;
    --color-dark: #44475a;
    --color-light-50: #f8f8f2;
    --color-light-100: #eaeada;
    --color-light-200: #dcdcc3;
    --color-light-300: #cdcdac;
    --color-light-400: #bdbd96;
    --color-light-500: #adad81;
    --color-light-600: #9c9c6c;
    --color-light-700: #85855d;
    --color-light-800: #6d6d4f;
    --color-light-900: #565641;
    --color-light: #f8f8f2;
    --color-blue-50: #f0f2f8;
    --color-blue-100: #d7dcec;
    --color-blue-200: #bec6df;
    --color-blue-300: #a6b0d1;
    --color-blue-400: #8f9bc3;
    --color-blue-500: #7886b4;
    --color-blue-600: #6272a4;
    --color-blue-700: #54628c;
    --color-blue-800: #485273;
    --color-blue-900: #3b425a;
    --color-blue: #6272a4;
    --color-cyan-50: #fafeff;
    --color-cyan-100: #d4f8ff;
    --color-cyan-200: #aff0fe;
    --color-cyan-300: #8be9fd;
    --color-cyan-400: #67e1fb;
    --color-cyan-500: #44d9f8;
    --color-cyan-600: #22d0f5;
    --color-cyan-700: #0dbfe5;
    --color-cyan-800: #0ca0bf;
    --color-cyan-900: #0c819a;
    --color-cyan: #8be9fd;
    --color-green-50: #e2ffe9;
    --color-green-100: #bcffcd;
    --color-green-200: #97feb1;
    --color-green-300: #73fc96;
    --color-green-400: #50fa7b;
    --color-green-500: #2df760;
    --color-green-600: #0cf346;
    --color-green-700: #0ccd3d;
    --color-green-800: #0ba833;
    --color-green-900: #0a8329;
    --color-green: #50fa7b;
    --color-orange-50: #ffefdd;
    --color-orange-100: #ffdcb7;
    --color-orange-200: #ffca92;
    --color-orange-300: #ffb86c;
    --color-orange-400: #fda648;
    --color-orange-500: #fb9325;
    --color-orange-600: #f38107;
    --color-orange-700: #cd6d08;
    --color-orange-800: #a75a08;
    --color-orange-900: #824707;
    --color-orange: #ffb86c;
    --color-pink-50: #ffeaf6;
    --color-pink-100: #ffc4e6;
    --color-pink-200: #ff9fd6;
    --color-pink-300: #ff79c6;
    --color-pink-400: #fd55b6;
    --color-pink-500: #fb31a5;
    --color-pink-600: #f80e95;
    --color-pink-700: #d90880;
    --color-pink-800: #b3086b;
    --color-pink-900: #8e0855;
    --color-pink: #ff79c6;
    --color-purple-50: #fefeff;
    --color-purple-100: #e9dafe;
    --color-purple-200: #d3b6fc;
    --color-purple-300: #bd93f9;
    --color-purple-400: #a771f6;
    --color-purple-500: #924ff2;
    --color-purple-600: #7d2eed;
    --color-purple-700: #6916e0;
    --color-purple-800: #5914bb;
    --color-purple-900: #491298;
    --color-purple: #bd93f9;
    --color-red-50: #ffecec;
    --color-red-100: #ffc6c6;
    --color-red-200: #ffa0a0;
    --color-red-300: #ff7b7b;
    --color-red-400: #ff5555;
    --color-red-500: #fd3131;
    --color-red-600: #fb0e0e;
    --color-red-700: #dd0606;
    --color-red-800: #b70707;
    --color-red-900: #910707;
    --color-red: #ff5555;
    --color-yellow-50: #fefff8;
    --color-yellow-100: #fafed3;
    --color-yellow-200: #f6fcaf;
    --color-yellow-300: #f1fa8c;
    --color-yellow-400: #ebf769;
    --color-yellow-500: #e5f347;
    --color-yellow-600: #dfef26;
    --color-yellow-700: #ccdd12;
    --color-yellow-800: #abb811;
    --color-yellow-900: #899410;
    --color-yellow: #f1fa8c;
    --color-nosferatu-50: #cdd0e4;
    --color-nosferatu-100: #b5bad6;
    --color-nosferatu-200: #9ea4c8;
    --color-nosferatu-300: #888fb8;
    --color-nosferatu-400: #727aa8;
    --color-nosferatu-500: #5f6795;
    --color-nosferatu-600: #53597c;
    --color-nosferatu-700: #454a64;
    --color-nosferatu-800: #373a4d;
    --color-nosferatu-900: #282a36;
    --color-nosferatu: #282a36;
    --color-aro-50: #f7f7fb;
    --color-aro-100: #dfe1ed;
    --color-aro-200: #c7cadf;
    --color-aro-300: #b1b5d0;
    --color-aro-400: #9ba0c0;
    --color-aro-500: #858bb0;
    --color-aro-600: #71779f;
    --color-aro-700: #606689;
    --color-aro-800: #525771;
    --color-aro-900: #44475a;
    --color-aro: #44475a;
    --color-cullen-50: #f8f8f2;
    --color-cullen-100: #eaeada;
    --color-cullen-200: #dcdcc3;
    --color-cullen-300: #cdcdac;
    --color-cullen-400: #bdbd96;
    --color-cullen-500: #adad81;
    --color-cullen-600: #9c9c6c;
    --color-cullen-700: #85855d;
    --color-cullen-800: #6d6d4f;
    --color-cullen-900: #565641;
    --color-cullen: #f8f8f2;
    --color-vonCount-50: #f0f2f8;
    --color-vonCount-100: #d7dcec;
    --color-vonCount-200: #bec6df;
    --color-vonCount-300: #a6b0d1;
    --color-vonCount-400: #8f9bc3;
    --color-vonCount-500: #7886b4;
    --color-vonCount-600: #6272a4;
    --color-vonCount-700: #54628c;
    --color-vonCount-800: #485273;
    --color-vonCount-900: #3b425a;
    --color-vonCount: #6272a4;
    --color-vanHelsing-50: #fafeff;
    --color-vanHelsing-100: #d4f8ff;
    --color-vanHelsing-200: #aff0fe;
    --color-vanHelsing-300: #8be9fd;
    --color-vanHelsing-400: #67e1fb;
    --color-vanHelsing-500: #44d9f8;
    --color-vanHelsing-600: #22d0f5;
    --color-vanHelsing-700: #0dbfe5;
    --color-vanHelsing-800: #0ca0bf;
    --color-vanHelsing-900: #0c819a;
    --color-vanHelsing: #8be9fd;
    --color-blade-50: #e2ffe9;
    --color-blade-100: #bcffcd;
    --color-blade-200: #97feb1;
    --color-blade-300: #73fc96;
    --color-blade-400: #50fa7b;
    --color-blade-500: #2df760;
    --color-blade-600: #0cf346;
    --color-blade-700: #0ccd3d;
    --color-blade-800: #0ba833;
    --color-blade-900: #0a8329;
    --color-blade: #50fa7b;
    --color-morbius-50: #ffefdd;
    --color-morbius-100: #ffdcb7;
    --color-morbius-200: #ffca92;
    --color-morbius-300: #ffb86c;
    --color-morbius-400: #fda648;
    --color-morbius-500: #fb9325;
    --color-morbius-600: #f38107;
    --color-morbius-700: #cd6d08;
    --color-morbius-800: #a75a08;
    --color-morbius-900: #824707;
    --color-morbius: #ffb86c;
    --color-buffy-50: #ffeaf6;
    --color-buffy-100: #ffc4e6;
    --color-buffy-200: #ff9fd6;
    --color-buffy-300: #ff79c6;
    --color-buffy-400: #fd55b6;
    --color-buffy-500: #fb31a5;
    --color-buffy-600: #f80e95;
    --color-buffy-700: #d90880;
    --color-buffy-800: #b3086b;
    --color-buffy-900: #8e0855;
    --color-buffy: #ff79c6;
    --color-dracula-50: #fefeff;
    --color-dracula-100: #e9dafe;
    --color-dracula-200: #d3b6fc;
    --color-dracula-300: #bd93f9;
    --color-dracula-400: #a771f6;
    --color-dracula-500: #924ff2;
    --color-dracula-600: #7d2eed;
    --color-dracula-700: #6916e0;
    --color-dracula-800: #5914bb;
    --color-dracula-900: #491298;
    --color-dracula: #bd93f9;
    --color-marcelin-50: #ffecec;
    --color-marcelin-100: #ffc6c6;
    --color-marcelin-200: #ffa0a0;
    --color-marcelin-300: #ff7b7b;
    --color-marcelin-400: #ff5555;
    --color-marcelin-500: #fd3131;
    --color-marcelin-600: #fb0e0e;
    --color-marcelin-700: #dd0606;
    --color-marcelin-800: #b70707;
    --color-marcelin-900: #910707;
    --color-marcelin: #ff5555;
    --color-lincoln-50: #fefff8;
    --color-lincoln-100: #fafed3;
    --color-lincoln-200: #f6fcaf;
    --color-lincoln-300: #f1fa8c;
    --color-lincoln-400: #ebf769;
    --color-lincoln-500: #e5f347;
    --color-lincoln-600: #dfef26;
    --color-lincoln-700: #ccdd12;
    --color-lincoln-800: #abb811;
    --color-lincoln-900: #899410;
    --color-lincoln: #f1fa8c;

    --spacing-unset: "unset";
}

@import './base.css';
@import './utilities.css';

