@utility fancy-border {
    @apply relative;

    &:after {
      @apply absolute h-0.5 w-full bg-linear-to-r from-pink to-cyan bottom-0 left-0;
      /*@apply opacity-30;*/
      content: ' ';
    }
}

@utility fancy-border-thin {
   @apply fancy-border;

    &:after {
        @apply h-px;
    }
}

@utility fancy-text {
    @apply bg-clip-text text-transparent bg-linear-to-r from-pink to-cyan;
}

@utility justin-container {
    @apply container mx-auto;
    @apply px-7;
    @apply w-full;
    @apply relative;

    @variant xl {
      @apply max-w-4xl px-0;
    }
}

@utility read-more {
    @apply text-purple underline underline-offset-[6px];
    @apply underline underline-offset-[6px];
    @apply decoration-dashed;
}

@utility fancy-link {
    @apply read-more;
}

@utility grid-bg {
    @apply relative;
    @apply border-b-2 border-lincoln-300/35;

    &:before {
        @apply absolute w-full h-full top-0 left-0 transition-all ease-linear;
        @apply pointer-events-none;
        @apply opacity-30 z-30;

        content: ' ';
        background: rgb(83,89,124);
        background: radial-gradient(circle,#53597c,#0e0d11);
    }

    &:after {
        @apply absolute w-full h-full top-0 left-0 transition-all ease-linear;
        @apply z-20;
        @apply pointer-events-none;

        content: ' ';

        background-size: 16px 16px;
        background-image:
        linear-gradient(to right, rgba(248, 248, 242, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(248, 248, 242, 0.05) 1px, transparent 1px);
    }
}
