@utility fancy-border {
    @apply relative;

    &:after {
      @apply absolute h-0.5 w-full bg-linear-to-r from-pink to-cyan bottom-0 left-0;
      content: ' ';
    }
}

@utility fancy-border-thin {
    @apply fancy-border;

    &:after {
        @apply h-px;
    }
}

@utility fancy-text {
    @apply bg-clip-text text-transparent bg-linear-to-r from-pink to-cyan;
}

@utility justin-container {
    @apply container mx-auto;
    @apply px-7;
    @apply w-full;
    @apply relative;

    @variant xl {
        @apply max-w-4xl px-0;
    }
}

@utility read-more {
    @apply text-purple underline underline-offset-6;
    @apply underline underline-offset-6;
    @apply decoration-wavy;
}

@utility fancy-link {
    @apply read-more;
}

@utility grid-bg {
    @apply relative;
    @apply border-b-2 border-lincoln-300/35;


    &:before {
        --square-size: 16px;
        @apply absolute w-full h-full top-0 left-0 transition-all ease-linear;
        @apply z-20;
        @apply pointer-events-none;

        content: ' ';

        background-size: var(--square-size) var(--square-size);
        background-image:
            linear-gradient(to right, --alpha(var(--color-light-50) / 5%) 1px, transparent 1px),
            linear-gradient(to bottom, --alpha(var(--color-light-50) / 5%) 1px, transparent 1px);
    }

    &:after {
        @apply absolute w-full h-full top-0 left-0;
        @apply z-10;
        @apply pointer-events-none;

        content: ' ';
        /* background: var(--color-darker-800); */
        background: radial-gradient(circle,var(--color-darker-900),var(--color-black));
    }
}


@utility markdown-content {
    h3 {
        @apply text-cyan;
    }

    h4 {
        @apply text-green;
    }

    h5 {
        @apply text-yellow;
    }

    h6 {
        @apply text-orange;
    }

    h1, h2, h3, h4, h5, h6 {
        + p {
            @apply mt-4;
        }
    }

    p {
        + h1, + h2, + h3, + h4, + h5, + h6 {
            @apply my-4;
        }
    }

    strong {
        @apply text-orange;
    }

    &.italic, em, strong > em {
        @apply text-yellow;
    }

    blockquote {
        @apply flex;
        @apply my-4;

        &:before {
            @apply block mx-4;
            @apply w-0.5 h-6 bg-yellow;
            content: ' ';
        }
    }

    ul {
        @apply text-darker-100;
        @apply list-disc;
        @apply pl-4;
        @apply py-2;

        li {
            > ul {
                @apply list-[circle];
                @apply ml-4;
                @apply mb-2;
                @apply py-0;
            }
        }
    }

    img {
        @apply my-8;
    }
}
