header {
    @apply
        bg-gradient-to-br
        from-blue-600
        to-blue-800
        relative;

    h1 {
        @apply
            flex
            flex-col
            text-7xl
            font-medium
            text-yellow-500
            w-full
            z-50;

        $header-shadow-size: 4px;
        text-shadow: $header-shadow-size $header-shadow-size 0px $black;

        > a.home {
            @apply text-right;
        }
    }

    .tagline {
        @apply
            text-lg
            mt-10
            pl-36
            ml-auto
            font-sans
            text-right
            text-yellow-300
            z-40
            mx-auto 
            max-w-xl;

        @screen xl {
            @apply w-9/12;
        }
    }

    &:after {
        @apply
            absolute
            w-full
            h-full
            top-0
            left-0
            transition-all
            ease-linear;

        content: ' ';

        background-size: 20px 20px;
        background-image:
            linear-gradient(to right, rgba($yellow-100, 0.05) 1px, transparent 1px),
            linear-gradient(to bottom, rgba($yellow-100, 0.05) 1px, transparent 1px);
    }
}
