<div class="hamburger">
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
</div>

<style>
@reference '../styles/global.css';

.hamburger {
    @apply block relative;
    @apply w-16 h-10;
    @apply cursor-pointer;

    .hamburger-bar {
        @apply block 
            relative
            w-full
            h-2
            bg-white
            rounded-md;

        @apply origin-center transition-[rotate];
        @apply mb-2;

        content: ' ';

        :last-of-type {
            @apply mb-0;
        }
    }

    &.active {
        .hamburger-bar {
            @apply absolute;
            @apply top-1/2;

            &:first-child {
                @apply rotate-45;
            }

            &:last-child {
                @apply rotate-135;
            }

            &:nth-child(2) {
                @apply opacity-0;
            }
        }
    }
    @variant md {
        @apply hidden;
    }
}
</style>
