---
import MenuItem from "@components/menu/MenuItem.astro";

type MenuItem = {
  label: string,
  href: string,
  icon: string,
  scrollTo?: string
}

const menu: MenuItem[] = [
    {
        label: 'home',
        href: '/',
        icon: 'nf-custom-home',
    },
    {
        label: 'about',
        href: '/about-me',
        icon: 'nf-oct-person_fill',
    },
    {
        label: 'portfolio',
        href: '/portfolio',
        icon: 'nf-dev-terminal'
    },
]
---

<!-- <script>
const header = document.getElementsByClassName('header-menu')[0]
const menu = header.getElementsByClassName('menu')[0];
const mobile_hamburger = menu.getElementsByClassName('hamburger')[0];
const menu_items = menu.getElementsByClassName('menu-items')[0];

mobile_hamburger.addEventListener('click', click => {
    click.preventDefault();
    if(click.currentTarget == null) return;

    const button = click.currentTarget as HTMLElement; 
    button.classList.toggle('active');

    menu_items.classList.toggle('active');
})
</script> -->

<script>

function clean_path (path:string) {
    if(path == '/') return path

    return path.replace(/\/$/, "")
}

function init () {
    const items = document.querySelectorAll(".menu-item");

    for(var button of items) {
        const button_path = new URL(button.href).pathname
        const window_path = window.location.pathname

        if(button_path == window_path) {
            button.classList.add('active')
        } else if(button_path != '/' && window_path != '/' && window_path.includes(button_path)) {
            button.classList.add('active')
        } else {
            button.classList.remove('active')
        }
    }
}

document.addEventListener("astro:page-load", init);

</script>
<ul class="flex flex-row items-start py-4 md:py-0">
    {menu.map((item: any) => 
        <MenuItem {item} />
    )}
  
    <!-- <li>
        <ToggleMode />
    </li> -->
</ul>
