---
import MenuItem from "@components/menu/MenuItem.astro";

type MenuItem = {
  label: string,
  href: string,
  icon: string,
  scrollTo?: string
}

const menu: MenuItem[] = [
    {
        label: 'home',
        href: '/',
        icon: 'nf-custom-home',
    },
    {
        label: 'about',
        href: '/about-me',
        icon: 'nf-oct-person_fill',
    },
    {
        label: 'portfolio',
        href: '/portfolio',
        icon: 'nf-dev-terminal'
    },
    // {
    //     label: 'skills',
    //     href: '#skills',
    //     icon: 'nf-md-keyboard',
    //     scrollTo: 'skills'
    // },
    // {
    //   'label': 'blog',
    //   'href': '/blog',
    //   'icon': 'nf-md-pen'
    // },
]
---

<ul class="flex flex-row items-start py-4 md:py-0">
  {menu.map((item: any) => <MenuItem {item} />)}

  <!--
  <li>
    <ToggleMode />
  </li>
  -->
</ul>
