---
const { item } = Astro.props;
const { href } = item;

const active = (url_test:string) => {
    return url_test == Astro.url.pathname
}
---

<li>

    <a 
        href={href} 
        class=`menu-item ${active(href) ? 'active' : ''}`
        data-scroll={item.scrollTo}
    >
        <i class={`text-lg nf ${item.icon} pr-1`}></i>
        {item.label}
    </a>
</li>

<style>
@reference "@css/main.css";
li {
    @apply border-r border-darker pr-3 mr-3 last:mr-0;

    a {
        @apply relative text-darker-300 transition-all;
        @apply no-underline;
        
        &::after {
            @apply absolute -bottom-3 left-0;
            content: '';
            @apply h-0.5 w-0 bg-cyan origin-center transition-all;
        }

        &:hover {
            @apply text-cyan;

            &::after {
                @apply w-full;
            }
        }

        &.active {
            @apply text-pink;

            &::after {
                @apply bg-pink w-full;
            }
        }
    }
}
</style>
