---
// import type { MenuItem as MenuItemType } from "@js/data/menu";
//
import MenuItem from "@components/menu/MenuItem.astro";

// import _ToggleMode from "@components/toggleMode.astro";

const { items } = Astro.props;
---

<ul class="flex flex-row items-start py-4 md:py-0">
  {items.map((item: any) => <MenuItem {item} />)}

  <!--
  <li>
    <ToggleMode />
  </li>
  -->
</ul>
