---
/*
 * NOTE: This is the SSR way to do things
 */
// export const prerender = false
//
// import { marked } from 'marked';
// import { getData, blogDate } from '@js/helpers'
// import BaseLayout from "@layouts/base.astro"
//
// const { slug } = Astro.params
//
// const data = await getData(`blog-posts?filters[slug][$eq]=${slug}`)
// const post = await data.json()
//
// const { Title, publishedAt, Content } = await post.data[0]

/*
 * FIXED: SSG was causing problems but I'm going to assume its two things:
 * 1. moving to the astro patterns for their fetch() implementation/real world
 * 2. the server is awake and not causing problems
 */
export const prerender = true

import { getCollection } from 'astro:content';
import { marked } from 'marked';
import { blogDate } from '@js/helpers'
import BaseLayout from "@layouts/base.astro"

export async function getStaticPaths() {
    const blog_data = await getCollection('blog');

    // console.log(blog_data)
    const paths = blog_data.map(({...post}: any) => {
        const { slug } = post.data
        return {
            params: { slug: slug },
            props:{...post.data} 
        }
    })

    return paths
}

// const { slug } = Astro.params
const { title, publishedAt, content } = Astro.props
---
<BaseLayout>
    <section class="bg-darker min-h-screen">
        <div class="container mx-auto">
            <h1>{title}</h1>
            <h6 class="text-darker-50 opacity-30 text-xs"><em>published: {blogDate(publishedAt)}</em></h6>
            <Fragment set:html={marked.parse(content)} />
        </div>
    </section>
</BaseLayout>
