body {
    @apply
        h-full
        w-full;

    @screen sm {
        @apply overflow-hidden;
    }
}

main {
    @screen sm {
        @apply
            flex
            flex-row;
            height: calc(100vh - 40px);
    }
}

header, section.Content {

    @screen sm {
        @apply  w-full;

        max-height: calc(100vh - 40px);
        @apply h-full;
    }

    @screen lg {
        @apply 
            w-1/2;
    }
}

header {
    @apply
        flex
        flex-col
        items-start
        justify-center;
}

section.Content {
    @apply
        pb-10;

    @screen sm {
        @apply 
            pb-4
            overflow-hidden
            overflow-y-auto;
    }
}

footer {
    @apply 
        w-full
        h-[40px]
        z-50;
}

/* main {
    @apply
        h-full
        grid
        grid-cols-2
        auto-rows-auto;
    grid-template-areas: 
        "header section"
        "footer footer";
}

header {
    grid-area: header;
} */

section.Content {
    grid-area: content;
}

footer.Footer {
    grid-area: footer;
}
