body {
    @apply
        h-full
        w-full;

    @screen sm {
        @apply overflow-hidden;
    }
}

main {
    @screen sm {
        @apply
            flex
            flex-row;
            height: calc(100vh - 40px);
    }
}

header, section.Content {
    @screen sm {
        @apply  w-full;

        max-height: calc(100vh - 40px);
        @apply h-full;
    }

    @screen lg {
        @apply 
            w-1/2;
    }
}

section.Content {
    min-height: calc(100vh - 330px);
    @apply h-full;

    @screen sm {
        @apply
            max-h-[unset];
    }
}

header {
    @apply
        flex
        flex-col
        items-start
        justify-center;
}

section {
    &.Content {
        @apply
            pb-10;
    
        @screen sm {
            @apply 
                pb-4
                overflow-hidden
                overflow-y-auto;
        }
        
        &.Content--dark {
            @apply
                bg-black;
        }


        &.Content--bubbles {
            .bubbles {
                @apply
                    hidden;
            }

            @screen lg {
                $bubble-count: 50;
                $sway-type: "sway-left-to-right", "sway-right-to-left";

                @function random_range($min, $max) {
                    $rand: random();
                    $random_range: $min + floor($rand * (($max - $min) + 1));
                    @return $random_range;
                }

                @function sample($list) {
                    @return nth($list, random(length($list)));
                }

                .bubbles {
                    @apply 
                        block
                        top-0;
                    position: absolute;
                    width: 100%;
                    height: 100vh;
                    overflow: hidden;
                }

                .bubble {
                    @apply
                        absolute
                        block;

                    left: var(--bubble-left-offset);
                    bottom: -75%;
                    width: var(--bubble-radius);
                    height: var(--bubble-radius);
                    border-radius: 50%;
                    animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;

                    &::before {
                        @apply
                            absolute
                            top-0
                            left-0
                            w-full
                            h-full
                            bg-yellow-300
                            bg-opacity-5;
                        content: '';
                        
                        border-radius: inherit;
                        animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
                    }

                    @for $i from 0 through $bubble-count {
                        &:nth-child(#{$i}) {
                            --bubble-left-offset: #{random_range(0vw, 100vw)};
                            --bubble-radius: #{random_range(1vw, 10vw)};
                            --bubble-float-duration: #{random_range(6s, 12s)};
                            --bubble-sway-duration: #{random_range(4s, 6s)};
                            --bubble-float-delay: #{random_range(0s, 4s)};
                            --bubble-sway-delay: #{random_range(0s, 4s)};
                            --bubble-sway-type: #{sample($sway-type)};
                        }
                    }
                }

                @keyframes float-up {
                    to {
                        transform: translateY(-175vh);
                    }
                }

                @keyframes sway-left-to-right {
                    from {
                        transform: translateX(-100%);
                    }

                    to {
                        transform: translateX(100%);
                    }
                }

                @keyframes sway-right-to-left {
                    from {
                        transform: translateX(100%);
                    }

                    to {
                        transform: translateX(-100%);
                    }
                }
            }
        }
    }
}

footer {
    @apply 
        w-full
        z-50;
}