
@layer components {
    .bg-yellow-gradient {
        background: linear-gradient(0, $yellow-500, 95%, $yellow-200);
    }
    .bg-red-gradient {
        background: linear-gradient(0, $red-500, 5%, $red-400);
    }
    
    .emphasis-gradient {
        @apply
            bg-clip-text;

        -webkit-text-fill-color: transparent;
    }

    [x-cloak] {
        @apply hidden;
    }
}