<footer class="Footer">
    <ul class="Footer-tech">
        <li class="pr-3 border-r border-yellow-500">
            <span class="font-semibold">hosted on</span> <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>
        </li>
        <!-- <li class="pl-2 mr-2 border-l"></li> -->
        {% for tech in site.data.madeWith %}
        <li class="mr-1{% if forloop.index == 1 %} pl-3{% endif %}">
            {% if forloop.index == 1 %}
            <span class="font-semibold">made with:</span>
            {% endif %}
            <a href="{{ tech.url }}" target="_blank">
                {{ tech.name }}{% if forloop.index != forloop.length %},{% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="Footer-meta">
        <ul class="ThemeSelector">
            <li class="ThemeSelector-label">theme: </li>
            <template x-for="choice in themeChoices">
            <li>
                <a
                    @click.prevent="choose(choice)"
                    :data-theme="`${choice}`"
                    class="ThemeSelector-choice"
                    :class="choicePreview(choice)"></a>
            </li>
            </template>
        </ul>
        <p class="text-yellow-500 small flex"><span class="font-semibold pr-1">copyright</span> {{ "now" | date: "%Y" }}</p>
    </div>
</footer>