
<header class="p-4">
    <h1 class="xl:w-10/12 mx-auto max-w-xl">
        <span class="text-9xl font-serif splt">Hi! I'm:</span>
        <a href="{{ "/" | absolute_url }}" class="home font-nabla">justin<span class="font-serif">, a dev</span></a>
    </h1>

    <!-- 
    <p 
        x-data="introText"
        class="tagline splt">
        {{ site.description | default: site.github.project_tagline }}
    </p> 
    -->
    <p class="tagline">{{ site.description | default: site.github.project_tagline }}</p>
</header>