---
import SwiperSlide from '@components/slider/Slide.astro'
import SkillBar from './bar.astro'

import { skills_data } from '@js/data/skills'
import type { Skill } from '@js/data/skills'

const skill_categories = [... new Set(skills_data.map((skill:Skill) => skill.categories.find((item) => (item  != 'all'))).flat(1))]

import 'swiper/css';
import 'swiper/css/navigation';
---
<script>
  import Swiper from 'swiper';

  document.addEventListener('astro:page-load', () => {
    const slideshow = new Swiper('.skill-swiper', {
      navigation: {
        enabled: false,
      },
      centeredSlides: true,
      centeredSlidesBounds: true
    })

    const buttons = document.getElementsByClassName('skills-list-category')

    buttons[0].classList.add('active')

    for(var button of buttons) {
      button.addEventListener('click', event => {
        if(event.currentTarget == null) return;
        const current = event.currentTarget as HTMLElement
        slideTo(current.id)
      })
    }

    const slideTo = (slide_index:(string|null)) => {
      if(slide_index === null) return;
      for(var button of buttons) {
        button.classList.toggle('active')
      }
      slideshow.slideTo(Number(slide_index))
    }
  })
</script>
<div class="skills">
  <ul class="skills-list">
    {skill_categories.map((skillset, index) => (
    <li class=`mr-4 last-of-type:mr-0 cursor-pointer text-dark-100 px-2 transition-all skills-list-category` id=`${index}`>
      {skillset}
    </li>
    ))}
  </ul>
  <div class="skill-swiper overflow-hidden">
    <div class="swiper-wrapper w-full">
      {skill_categories.map((skillset) => (  
      <SwiperSlide id=`${skillset}` class="w-full">
        {skills_data.filter(skill => skill.categories.find((item) => item === skillset)).map(( displaySkill:Skill ) => (
          <SkillBar skill={displaySkill} />
        ))}
      </SwiperSlide>
      ))}
    </div>
  </div>
</div>
