---
import { Image } from "astro:assets"

import BaseLayout from "@layouts/base.astro";

import PillButton from "@components/PillButton.astro";
import NerdFontIcon from "@components/NerdFontIcon.astro";

// import resume from "/resume.pdf"
import me from "@images/me.jpeg"

import BlogPosts from "@components/blog/BlogPosts.astro";
import SocialMediaList from "@components/SocialMediaList.astro";
---
<BaseLayout>
    <section class="py-5 grid-bg">
        <div class="w-11/12 lg:w-full container relative flex flex-col md:flex-row z-50 py-8 items-center mx-auto">
            <div class="order-1 w-full lg:w-1/2">
                <h2 class="text-green border-b border-green lg:mb-2">About Me</h2>
                <p class="text-dark-600 text-3xl leading-relaxed">I am a huge nerd about <NerdFontIcon class="text-cyan" icon="nf-md-web" /><span class="text-cyan">web development,</span> <NerdFontIcon class="text-cyan" icon="nf-dev-terminal"/><span class="text-cyan">tooling,</span> <NerdFontIcon class="text-cyan" icon="nf-md-git"/> <span class="text-cyan">CI/CD,</span> and <NerdFontIcon class="text-cyan" icon="nf-md-remote_desktop" /> <span class="text-cyan">server administration</span>.</p>
                <p class="text-dark-600 text-3xl leading-relaxed"><span class="font-semibold fancy-border fancy-text">I do my best when working with tight knit teams</span> on finding elegant solutions for any full stack deployment.</p>
                <PillButton class="flex flex-row text-3xl justify-center items-center green mt-8 mx-auto lg:mx-unset" url="/resume.pdf" target="_blank">
                   <NerdFontIcon icon="nf-md-file_document max-h-7.5" />&nbsp;Resume
                </PillButton>

                <a href="https://archlinux.org" target="_blank" class="archlinux hidden lg:block">
                    i use <NerdFontIcon icon="nf-md-arch" class="text-archlinux mr-0.25!" /><span class="relative -left-1.5 text-archlinux">rch</span>btw.
                </a>
            </div>

            <div class="w-full md:w-1/3 lg:w-4/10 lg:mx-auto mt-8 lg:mt-0 order-2 flex flex-col items-center">
                <Image
                    src={me}
                    alt="Hi! I'm Justin Paelmo!"
                    class="portrait"
                    />
            </div>
        </div>
    </section>

    <BlogPosts />

    <section id="social" class="bg-dark-700 mix-blend-multiply py-8">
        <div class="justin-container flex flex-col items-center justify-center">
            <h2 class="text-darker-50">social media</h2>
            <SocialMediaList />
        </div>
    </section>
</BaseLayout>

<style>
@reference '@css/main.css';

.portrait {
    @apply z-40 mx-auto w-full h-auto max-w-2xl;
    @apply mb-8;
    @apply rounded-full border-4 border-yellow;

    @variant md {
        @apply mx-unset mb-0;
    }
} 

.archlinux {
    @apply text-dark-600 
        mt-12
        text-sm
        leading-relaxed
        opacity-60
        w-fit;

    @variant hover {
        @apply text-archlinux
            opacity-100;
    }
}
</style>
