---
import { Image } from "astro:assets"

import BaseLayout from "@layouts/base.astro";

import PillButton from "@components/PillButton.astro";
import NerdFontIcon from "@components/NerdFontIcon.astro";

// import resume from "/resume.pdf"
import me from "@images/me.jpeg"

import BlogPosts from "@components/blog/BlogPosts.astro";
import SocialMediaList from "@components/SocialMediaList.astro";
---
<BaseLayout>
    <section id="intro" class="py-5 border-b fancy-border">
        <div class="container relative flex flex-col md:flex-row z-50 py-8 items-center mx-auto">
            <div class="order-2 md:order-1">
                <h2 class="text-green border-b border-green lg:mb-2">about me</h2>
                <p class="text-dark-600 text-3xl leading-relaxed">I am a huge nerd about <NerdFontIcon classes="text-cyan" icon="nf-md-web" /><span class="text-cyan">web development,</span> <NerdFontIcon classes="text-cyan" icon="nf-dev-terminal"/><span class="text-cyan">tooling,</span> <NerdFontIcon classes="text-cyan" icon="nf-md-git"/> <span class="text-cyan">CI/CD,</span> and <NerdFontIcon classes="text-cyan" icon="nf-md-remote_desktop" /> <span class="text-cyan">server administration</span>.</p>
                <p class="text-dark-600 text-3xl leading-relaxed"><span class="font-semibold fancy-border fancy-text">I do my best work</span> when working with tight knit teams on finding elegant solutions for any full stack deployment.</p>
                <a href="https://archlinux.org" target="_blank" class="text-dark-600 text-sm leading-relaxed my-6 opacity-60 block w-fit hover:text-cyan hover:opacity-100">
                    i use <NerdFontIcon icon="nf-md-arch" classes="text-cyan" /><span class="relative -left-1.5 text-cyan">rch</span>btw.
                </a>
                <PillButton class="text-3xl green" url="/resume.pdf" target="_blank">
                    <NerdFontIcon icon="nf-md-file_document" />&nbsp;resume
                </PillButton>
            </div>

            <Image
                src={me}
                alt="Hi! I'm Justin Paelmo!"
                class="portrait"
                />
        </div>
    </section>

    <BlogPosts />

    <section id="social" class="bg-dark-700 mix-blend-multiply py-8">
        <div class="justin-container flex flex-col items-center justify-center">
            <h2 class="text-darker-50">social media</h2>
            <SocialMediaList />
        </div>
    </section>
</BaseLayout>

<style>
@reference '@css/main.css';
#intro {
    @apply relative;

    &:before {
        @apply absolute w-full h-full top-0 left-0 transition-all ease-linear;
        @apply pointer-events-none;
        @apply opacity-30 z-30;

        content: ' ';
        background: rgb(83,89,124);
        background: radial-gradient(circle,#53597c,#0e0d11);
    }

    &:after {
        @apply absolute w-full h-full top-0 left-0 transition-all ease-linear;
        @apply z-20;
        @apply pointer-events-none;

        content: ' ';

        background-size: 16px 16px;
        background-image:
        linear-gradient(to right, rgba(248, 248, 242, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(248, 248, 242, 0.05) 1px, transparent 1px);
    }
}

.portrait {
    @apply order-1 z-40 mx-auto h-full w-auto max-w-2xl;
    @apply mb-8;
    @apply rounded-full border-4 border-yellow;

    @variant md {
        @apply order-2 mx-unset mb-0 ml-12;
    }
} 
</style>
