---
export const prerender = true
import { truncateWords } from '@shahid19/stringjs'
import { getData, blogDate } from '@js/helpers'

const data = await getData('blog-posts')
const blog_posts = await data.data
---

<section class="bg-darker-900 py-10">
    <div class="container mx-auto grid grid-cols-3">
        {await blog_posts.map((post: any) => 
        <article class="blog-post-card">
            <h3 class="w-full border-b border-b-darker-800 pb-2 mb-4">{post.Title}</h3>
            <h6 class="text-darker-50 opacity-30 text-xs"><em>published: {blogDate(post.publishedAt)}</em></h6>
            <p class="mb-4">{truncateWords(post.Content, 15)}</p>
            <a href=`/blog/${post.slug}` class="read-more flex-end">read more</a>
        </article>
        )}
    </div>
</section>

<style>
@reference '@css/main.css';

.blog-post-card {
    @apply p-4 rounded border-darker-800 border;
    @apply bg-darker-50;
}
</style>
