---
export const prerender = true

import BlogCard from './blog/BlogCard.astro'
import { getData } from '@js/helpers'

const data = await getData('blog-posts')
const blog_posts = await data.data
---

<section class="bg-darker-900 py-10">
    <div class="container mx-auto grid grid-cols-3 gap-x-32">
        {blog_posts.map((post: any) => 
            <BlogCard data={post} />
        )}
    </div>
</section>
