<div
  x-data="{
    show: false,
    top: null,
    scrollPast: null,
    options: { behavior: 'smooth', block: 'start' },
    init() {
      this.top = document.getElementById('top')
    }
  }"
  @click="top.scrollIntoView(options)"
  x-show="show"
  x-transition
  class="fixed bottom-4 right-6 cursor-pointer z-50 bg-dark-800 px-1 py-0 rounded-full">
  <template x-teleport="#top">
    <div id="scrollTarget" x-intersect:enter="show = false" x-intersect:leave="show = true"></div>
  </template>
  <i class="nf nf-fa-arrow_circle_up text-light text-2xl"></i>
</div>
