---
const { url:href = "#", target, class:className  } = Astro.props
---

<a class={className} {href} {target}>
    <slot>Button Text</slot>
</a>

<style>
@reference '@css/main.css';

@keyframes grow-in {
    from {
        height: 0px;
    }
    to {
        height: 100%;
        border-radius: var(--radius-md);
    }
}

@keyframes grow-out {
    from {
        height: 100%;
    }
    to {
        height: var(0px);
    }
}

a {
    @apply relative flex items-center;
    @apply px-8 py-4 text-center text-darker font-bold transition-all;
    @apply min-w-35 max-w-min w-full;
    @apply no-underline;

    &:after {
        @apply absolute bottom-0 left-0 w-full h-0 transition-all;
        @apply -z-10;
        transform-origin: bottom center;
        content: ' ';

        animation: grow-out 175ms ease-out forwards;
    }


    &:hover {
        @apply rounded-lg;

        &:after {
            animation: grow-in 175ms ease-in forwards;
        }
    }

    &.default {
        @apply text-darker;

        &:hover {
        @apply border-transparent text-light bg-darker;
        }
    }

    &.green {
        @apply text-green;

        &:after {
        @apply bg-green;
        }

        &:hover {
        @apply text-darker;
        }
    }

    &.cyan {
        @apply text-cyan;

        &:after {
        @apply bg-cyan;
        }

        &:hover {
        @apply text-darker bg-cyan;
        }
    }

    &.pink {
        @apply text-pink;

        &:after {
        @apply bg-pink;
        }

        &:hover {
        @apply text-darker bg-pink;
        }
    }

    &.purple {
        @apply text-purple;

        &:after {
        @apply bg-purple;
        }

        &:hover {
        @apply text-darker bg-purple;
        }
    }

    &.yellow {
        @apply text-yellow;

        &:after {
        @apply bg-yellow;
        }

        &:hover {
        @apply text-darker bg-yellow;
        }
    }
}
</style>
