---
import { social_media } from "@js/data/social"
---
<ul class="flex flex-row">
{social_media.map((item) =>
  <li class="mr-4 last:mr-0 text-4xl">
    <a href={item.url} target="_blank" class="no-underline">
      <i class=`nf ${item.icon} ${item.classes}`></i>
      <span class="sr-only">{item.label}</span>
    </a>
  </li>
)}
</ul>
