section {
    &.Content {
        &--dark {
            h1, h2 {
                @apply
                    emphasis-gradient
                    bg-yellow-gradient;
            }
            
            h3, h4 {
                @apply
                    text-yellow-200;
            }
        
            p {
                @apply
                    text-yellow-100;
            }

            .back {
                @apply
                    text-yellow-500;

                svg {
                    fill: $yellow-600;
                }
            }
        }

        &--neon {
            h1, h2 {
                @apply
                    emphasis-gradient
                    bg-red-gradient;
            }

            h3, h4 {
                @apply
                    text-yellow-200;
            }

            p {
                @apply
                    text-yellow-100;
            }

            .cta {
                @apply bg-red-500;
            }

            .back {
                @apply
                    text-red-500;
                    
                svg {
                    fill: $red-600;
                }
            }
        }

        &--green {
            @apply
                bg-yellow-100;
                
            .PostDetails {
                &-info {
                    @apply
                        bg-grey-900;
            
                    p {
                        @apply text-grey-400;
                    }
                }
            }
        }
    }    
}

section {
    &.Content {
        &--dark {
            h1, h2 {
                @apply bg-clip-text;
            
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

header {
    &.Content {
        &--green {
            @apply
                from-green-600
                to-green-800;

        }

        &--neon {
            @apply
                from-grey-700
                to-grey-800;

            h1 {
                @apply
                    text-red-600;
            }

            .tagline {
                @apply
                    text-red-600;
            }

            &:after {
                background-image:
                    linear-gradient(to right, rgba($red-500, 0.15) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba($red-500, 0.15) 1px, transparent 1px);
            }
        }
    }
}

footer {
    &.Content {
        &--green {
            @apply
                from-green-950
                to-green-900;
        }

        &--neon {
            @apply
                from-grey-900
                to-grey-950;
        }
    }
}