---
import { blogDate } from '@js/helpers'
import { truncateWords } from '@shahid19/stringjs'


const { data } = Astro.props

const { slug, publishedAt, title, preview } = data
---

<article class="blog-post-card">
    <a href=`/blog/${slug}` class="no-underline">
        <h3 class="title" set:html={truncateWords(title, 7)}></h3>
        <h6 class="date"><em>published: {blogDate(publishedAt)}</em></h6>

        <p class="preview" set:html={preview}></p>
        <span class="read-more">read more</span>
    </a>
</article>

<style>
@reference '@css/main.css';

.blog-post-card {
    @apply p-4 rounded-md border-darker-800 border;
    @apply bg-dark-50/5;
    @apply relative overflow-hidden;

    @apply transition-all ease-in-out duration-400;
    @apply origin-center scale-100;

    @apply mb-8;

    @variant lg {
        @apply mb-0;
    }
    
    &:after {
        @apply absolute w-64 h-128 right-full top-1/2 -translate-1/2;
        @apply transition-all ease-in-out duration-500;
        @apply bg-linear-to-r from-transparent via-white/10 to-transparent;
        @apply blur-lg;
        @apply rotate-33;
        content: ' ';
    }

    @variant hover {
        @apply scale-105;

        &:after {
            @apply -right-full;
            /* @apply right-1/2; */
        }
    }

    .title {
        @apply w-full border-b border-b-darker-800 pb-2 mb-4;
        @apply text-vanHelsing-500 text-xl;
    }

    .date {
        @apply text-darker-400 text-xs;
    }

    .preview {
        @apply mb-4 text-vanHelsing-100;
    }
}
</style>

