---
import { ViewTransitions } from "astro:transitions";
import favicon from '@img/favicon.ico';

import "@css/main.css";

import Header from "@layouts/header.astro";
import Footer from "@layouts/footer.astro";

const { title = 'justin, a dev' } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />

        <link rel="icon" type="image/svg+xml" href={favicon} />

        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{title} | astro'd out</title>

        <ViewTransitions />
    </head>
    <body>
        <span id="top"></span>
        <Header />
        <main transition:animate="slide">
            <slot />
        </main>
        <Footer />
    </body>
</html>
