---
import Menu from "@components/menu/Menu.astro";
import NerdFontIcon from '@components/NerdFontIcon.astro'
---

<header>
    <div class="fancy-border bg-black">
        <div class="container mx-auto w-full flex flex-col sm:flex-row justify-between items-center py-3">
            <a href="/" class="text-3xl flex items-baseline no-underline max-w-8/10">
                <NerdFontIcon icon="nf-dev-terminal" class="text-2xl lg:text-3xl text-pink mr-2 hidden md:block" />
                <h1 class="text-cyan">I'm Justin, a <span class="text-green">full stack <NerdFontIcon icon="nf-oct-stack" class="inline" />developer</span></h1>
                <span class="sr-only">I'm Justin Paelmo, a full stack developer</span>
            </a>
            <Menu transition:persist />
        </div>
    </div>
</header>

<style>
@reference "../css/main.css";
header {
    @apply  z-100;

    @variant xl {
        @apply sticky top-0;
    }

    h1 {
        @apply text-2xl;
        @variant xl {
            @apply text-6xl;
        }
    }
/*
    h1 {
        @apply relative items-start justify-center -mt-1 text-2xl;
        @apply text-yellow;
        @apply transition-all;
        @apply flex;

        @variant sm {
            @apply text-3xl;
        }

        @variant md {
            @apply text-4xl;
            @apply flex-row;
        }

        @variant lg {
            @apply flex-row;
        }

        @variant xl {
            @apply flex-row;
        }
    }
*/
}
</style>
