---
export const prerender = true

import { getCollection } from 'astro:content'
import { marked } from 'marked'

import BaseLayout from "@layouts/base.astro"
import PillButton from '@components/PillButton.astro'
import NerdFontIcon from '@components/NerdFontIcon.astro'
import Slider from '@components/slider/Slider.astro'
import Slide from '@components/slider/Slide.astro'
import { Image } from 'astro:assets'

export async function getStaticPaths() {
    const data = await getCollection('projects')

    const paths = data.map(({...item}: any) => {
        return {
            params: { slug: item.data.slug },
            props:{...item.data} 
        }
    })

    return paths
}

const { title, show_url = true, url, screenshots, description } = Astro.props

const widest = screenshots.sort((a: any, b: any) => {
    if(a.width < b.width) {
        return 1
    }

    return -1
})

---

<BaseLayout>
    <section class="container mx-auto py-16">
        <div class="flex flex-row justify-between items-center pb-8">
            <h2 class="text-purple">{title}</h2>
            {show_url &&
                <PillButton
                    class="cyan py-3!"
                    {url}
                    target="_blank">
                    <NerdFontIcon icon="nf-md-web mr-2!" />&nbsp;visit
                </PillButton>
            }
        </div>

        <div class="flex flex-row md:flex-col markdown-content mb-8">
            <Fragment set:html={await marked.parse(description)} />
        </div>

        {screenshots.length &&
        <Slider class="my-8">
            <Fragment slot="slides">
                {widest.map((screenshot: any) => 
                <Slide class="flex flex-row justify-center overflow-hidden object-fit">
                    <Image
                        src={screenshot.url}
                        inferSize={true}
                        alt={screenshot.alternativeText ? screenshot.alternativeText : title}
                        class="mx-auto rounded-lg object-contain h-225"
                        />
                </Slide>
                )}
            </Fragment>
        </Slider>
        }
    </section>
</BaseLayout>
