---
import NerdFontIcon from '@components/NerdFontIcon.astro'
import _Slide from './Slide.astro'
import 'swiper/css'
import 'swiper/css/navigation'

// const { items } = Astro.props
---

<div
    class="swiper"
    x-data="{
        swiperOptions: {
            navigation: {
                enabled: true,
                nextEl: '.justin-next',
                prevEl: '.justin-prev',
            }
        }
    }"
    x-swiper="swiperOptions">
    <div class="swiper-wrapper">
        <slot></slot>
    </div>
    <div class="flex flex-row">
        <div class="justin-prev">
            <NerdFontIcon icon="nf-cod-arrow_left" />
        </div>

        <div class="justin-next">
            <NerdFontIcon icon="nf-cod-arrow_right" />
        </div>
    </div>
</div>

<style>
@reference '@css/main.css';

.swiper {
    h2 {
        @apply text-4xl mb-4;
    }

    h3 {
        @apply text-3xl lowercase italic mb-4;
    }

    p {
        @apply text-2xl mb-8;
    }

    .justin {
        &-next, &-prev {
            @apply cursor-pointer;
            @apply origin-center transition-all;
            @apply text-darker;

            &:hover {
                @apply scale-125;
            }

            &.swiper-button-disabled {
                @apply pointer-events-none;
                /* @apply text-opacity-30 pointer-events-none; */
            }
        }

        &-prev {
            @apply mr-2;
        }
    }
}
</style>
